# **Atividade 2.1 - Zeros Reais de Funções Reais**

In [262]:
import secrets
import time

import numpy as np
import pandas as pd

## 2.1.2 Letra A

### Algoritmos

#### Bissecção

<div style="text-align: center;">
    <img src="../src/images/bisection_pseudocode.png" width="600">
</div>

In [263]:
def bisection_method(f: callable, interval: tuple, precision: float) -> tuple:
    n_operations = 0
    n_logic_decisions = 0
    n_evaluations = 0

    a, b = interval # 1, a
    epsilon = precision # 1, b

    n_operations += 1
    n_logic_decisions += 1
    if (b - a) < epsilon: # 2
        return secrets.choice([a, b]), n_operations, n_logic_decisions, n_evaluations, 0 # 2

    k = 1 # 3

    n_evaluations += 1
    m = f(a) # 4

    while True:
        n_operations += 2
        x = (a + b) / 2 # 5

        n_operations += 1
        n_logic_decisions += 1
        n_evaluations += 1
        if m * f(x) > 0: # 6
            a = x # 6

        else: # 7
            b = x # 7

        n_operations += 1
        n_logic_decisions += 1
        if (b - a) < epsilon: # 8
            return secrets.choice([a, b]), n_operations, n_logic_decisions, n_evaluations, k  # 8

        n_operations += 1
        k = k + 1 # 9

#### Posição Falsa

<div style="text-align: center;">
    <img src="../src/images/false_position_pseudocode.png" width="600">
</div>

In [264]:
def false_position_method(f: callable, interval: tuple, precisions: tuple) -> tuple:
    n_operations = 0
    n_logic_decisions = 0
    n_evaluations = 0

    a, b = interval # 1, a
    epsilon1, epsilon2 = precisions # 1, b

    n_operations += 1
    n_logic_decisions += 1
    if (b - a) < epsilon1: # 2
        return secrets.choice([a, b]), n_operations, n_logic_decisions, n_evaluations, 0 # 2

    n_operations += 1
    n_logic_decisions += 1
    if abs(f(a)) < epsilon2: # 2
        return a, n_operations, n_logic_decisions, n_evaluations, 0 # 2

    n_operations += 1
    n_logic_decisions += 1
    if abs(f(b)) < epsilon2: # 2
        return b, n_operations, n_logic_decisions, n_evaluations, 0 # 2

    k = 1 # 3

    n_evaluations += 1
    m = f(a) # 4

    while True:
        n_operations += 5
        n_evaluations += 4
        x = (a * f(b) - b * f(a)) / (f(b) - f(a)) # 5

        n_logic_decisions += 1
        n_evaluations += 1
        if abs(f(x)) < epsilon2: # 6
            return x, n_operations, n_logic_decisions, n_evaluations, k # 6

        n_operations += 1
        n_logic_decisions += 1
        n_evaluations += 1
        if m * f(x) > 0: # 7
            a = x # 7

        else: # 8
            b = x # 8

        n_operations += 1
        n_logic_decisions += 1
        if (b - a) < epsilon1: # 9
            return secrets.choice([a, b]), n_operations, n_logic_decisions, n_evaluations, k # 9

        n_operations += 1
        k = k + 1 # 10

#### MPF

<div style="text-align: center;">
    <img src="../src/images/fpm_pseudocode.png" width="600">
</div>

In [265]:
def fixed_point_method(
        f: callable,
        phi: callable,
        initial_approximation: float,
        precisions: tuple,
    ) -> tuple:
    n_operations = 0
    n_logic_decisions = 0
    n_evaluations = 0

    x0 = initial_approximation # 1, a
    epsilon1, epsilon2 = precisions # 1, b

    n_logic_decisions += 1
    n_evaluations += 1
    if abs(f(x0)) < epsilon1: # 2
        return x0, n_operations, n_logic_decisions, n_evaluations, 0 # 2

    k = 1 # 3

    while True:
        n_evaluations += 1
        x1 = phi(x0) # 4

        n_operations += 1
        n_logic_decisions += 3
        n_evaluations += 1
        if abs(f(x1)) < epsilon1 or abs(x1 - x0) < epsilon2: # 5
            return x1, n_operations, n_logic_decisions, n_evaluations, k # 5

        x0 = x1 # 6

        n_operations += 1
        k = k + 1 # 7

#### Newton

<div style="text-align: center;">
    <img src="../src/images/newton_pseudocode.png" width="600">
</div>

In [266]:
def newton_method(
    f: callable,
    df: callable,
    initial_approximation: float,
    precisions: tuple,
) -> tuple:
    n_operations = 0
    n_logic_decisions = 0
    n_evaluations = 0

    x0 = initial_approximation # 1, a
    epsilon1, epsilon2 = precisions # 1, b

    n_logic_decisions += 1
    n_evaluations += 1
    if abs(f(x0)) < epsilon1: # 2
        return x0, n_operations, n_logic_decisions, n_evaluations, 0 # 2

    k = 1 # 3

    while True:
        n_operations += 2
        n_evaluations += 2
        x1 = x0 - f(x0) / df(x0) # 4

        n_operations += 1
        n_logic_decisions += 3
        n_evaluations += 1
        if abs(f(x1)) < epsilon1 or abs(x1 - x0) < epsilon2: # 5
            return x1, n_operations, n_logic_decisions, n_evaluations, k # 5

        x0 = x1 # 6

        n_operations += 1
        k = k + 1 # 7

### Secante

<div style="text-align: center;">
    <img src="../src/images/secant_pseudocode.png" width="600">
</div>

In [267]:
def secant_method(
    f: callable,
    initial_approximations: tuple,
    precisions: tuple,
) -> float:
    n_operations = 0
    n_logic_decisions = 0
    n_evaluations = 0

    x0, x1 = initial_approximations # 1, a
    epsilon1, epsilon2 = precisions # 1, b

    n_logic_decisions += 1
    n_evaluations += 1
    if abs(f(x0)) < epsilon1: # 2
        return x0, n_operations, n_logic_decisions, n_evaluations, 0 # 2

    n_operations += 1
    n_logic_decisions += 3
    n_evaluations += 1
    if abs(f(x1)) < epsilon1 or abs(x1 - x0) < epsilon2: # 3
        return x1, n_operations, n_logic_decisions, n_evaluations, 0 # 3

    k = 1 # 4

    while True:
        n_operations += 5
        n_evaluations += 3
        x2 = x1 - f(x1) / (f(x1) - f(x0)) * (x1 - x0) # 5

        n_operations += 1
        n_logic_decisions += 3
        n_evaluations += 1
        if abs(f(x2)) < epsilon1 or abs(x2 - x1) < epsilon2: # 6
            return x2, n_operations, n_logic_decisions, n_evaluations, k # 6

        x0 = x1 # 7
        x1 = x2 # 7

        n_operations += 1
        k = k + 1 # 8

### Exemplos

In [268]:
def create_table(functions: tuple, root: float) -> pd.DataFrame:
    results = {}

    for function_name, function, parameters in functions:
        result, operations, logic_decisions, evaluations, iterations = function(*parameters)
        f_result = parameters[0](result)
        error = root - result

        if function in (fixed_point_method, newton_method):
            data_initial = f'{parameters[2]:.1f}'
        elif function == secant_method:
            data_initial = f'x0 = {parameters[1][0]}; x1 = {parameters[1][1]}'
        else:
            data_initial = f'[{parameters[1][0]}, {parameters[1][1]}]'

        results[function_name] = {
            'Dados Iniciais': data_initial,
            'x_aproximado': result,
            'f(x_aproximado)': f'{f_result:e}',
            'Erro em x': f'{error:e}',
            'Número de Iterações': iterations,
            'Número de Operações': operations,
            'Complexidade das Operações': f'O({operations})',
            'Número de Decisões Lógicas': logic_decisions,
            'Número de Avaliações': evaluations,
        }

    return pd.DataFrame(results)

#### Exemplo 18

<div style="text-align: center;">
    <img src="../src/images/example_18.png" width="600">
</div>

In [269]:
def f(x: float) -> float:
    return np.exp(-x ** 2) - np.cos(x)

def df(x: float) -> float:
    return -2 * np.exp(-x ** 2) * x + np.sin(x)

def phi(x: float) -> float:
    return np.cos(x) - np.exp(-x ** 2) + x

interval = (1, 2)
epsilon1 = epsilon2 = 10 ** (-4)

root = 1.44741427129623685014674595

functions = [
    ('Bissecção', bisection_method, (f, interval, epsilon1)),
    ('Posição Falsa', false_position_method, (f, interval, (epsilon1, epsilon2))),
    ('MPF', fixed_point_method, (f, phi, 1.5, (epsilon1, epsilon2))),
    ('Newton', newton_method, (f, df, 1.5, (epsilon1, epsilon2))),
    ('Secante', secant_method, (f, interval, (epsilon1, epsilon2))),
]

create_table(functions, root)

,Bissecção,Posição Falsa,MPF,Newton,Secante
Dados Iniciais,"[1, 2]","[1, 2]",1.5,1.5,x0 = 1; x1 = 2
x_aproximado,1.447388,1.447357,1.447525,1.447416,1.447413
f(x_aproximado),-1.690556e-05,-3.638759e-05,7.025778e-05,1.320436e-06,-5.242250e-07
Erro em x,2.657598e-05,5.720350e-05,-1.104363e-04,-2.075717e-06,8.240804e-07
Número de Iterações,14,6,6,2,5
Número de Operações,70,48,11,7,35
Complexidade das Operações,O(70),O(48),O(11),O(7),O(35)
Número de Decisões Lógicas,29,19,19,7,19
Número de Avaliações,15,36,13,7,22

#### Exemplo 19

<div style="text-align: center;">
    <img src="../src/images/example_19.png" width="600">
</div>

In [270]:
def f(x: float) -> float:
    return x ** 3 - x - 1

def df(x: float) -> float:
    return 3 * x ** 2 - 1

def phi(x: float) -> float:
    return (x + 1) ** (1/3)

interval = (1, 2)
epsilon1 = epsilon2 = 10 ** (-6)

root = 1.32471795724475

functions = [
    ('Bissecção', bisection_method, (f, interval, epsilon1)),
    ('Posição Falsa', false_position_method, (f, interval, (epsilon1, epsilon2))),
    ('MPF', fixed_point_method, (f, phi, 1, (epsilon1, epsilon2))),
    ('Newton', newton_method, (f, df, 0, (epsilon1, epsilon2))),
    ('Secante', secant_method, (f, (0, 0.5), (epsilon1, epsilon2))),
]

create_table(functions, root)

,Bissecção,Posição Falsa,MPF,Newton,Secante
Dados Iniciais,"[1, 2]","[1, 2]",1.0,0.0,x0 = 0; x1 = 0.5
x_aproximado,1.324718,1.324718,1.324718,1.324718,1.324718
f(x_aproximado),2.209495e-06,-8.290661e-07,-4.737265e-07,2.747136e-12,-4.340576e-08
Erro em x,-5.180970e-07,1.944051e-07,1.110826e-07,-6.401546e-13,1.017808e-08
Número de Iterações,20,17,9,21,26
Número de Operações,100,136,17,83,182
Complexidade das Operações,O(100),O(136),O(17),O(83),O(182)
Número de Decisões Lógicas,41,52,28,64,82
Número de Avaliações,21,102,19,64,106

#### Exemplo 20

<div style="text-align: center;">
    <img src="../src/images/example_20.png" width="600">
</div>

In [271]:
def f(x: float) -> float:
    return 4 * np.sin(x) - np.exp(x)

def df(x: float) -> float:
    return 4 * np.cos(x) - np.exp(x)

def phi(x: float) -> float:
    return x - 2 * np.sin(x) + 0.5 * np.exp(x)

interval = (0, 1)
epsilon1 = epsilon2 = 10 ** (-5)

root = 0.370558095969824559420348678

functions = [
    ('Bissecção', bisection_method, (f, interval, epsilon1)),
    ('Posição Falsa', false_position_method, (f, interval, (epsilon1, epsilon2))),
    ('MPF', fixed_point_method, (f, phi, 0.5, (epsilon1, epsilon2))),
    ('Newton', newton_method, (f, df, 0.5, (epsilon1, epsilon2))),
    ('Secante', secant_method, (f, interval, (epsilon1, epsilon2))),
]

create_table(functions, root)

,Bissecção,Posição Falsa,MPF,Newton,Secante
Dados Iniciais,"[0, 1]","[0, 1]",0.5,0.5,x0 = 0; x1 = 1
x_aproximado,0.370552,0.370559,0.370556,0.370558,0.370558
f(x_aproximado),-1.375500e-05,1.669806e-06,-4.519361e-06,-2.783496e-08,5.260490e-09
Erro em x,6.032982e-06,-7.323848e-07,1.982209e-06,1.220854e-08,-2.307274e-09
Número de Iterações,17,8,5,3,7
Número de Operações,85,64,9,11,49
Complexidade das Operações,O(85),O(64),O(9),O(11),O(49)
Número de Decisões Lógicas,35,25,16,10,25
Número de Avaliações,18,48,11,10,30

#### Exemplo 21

<div style="text-align: center;">
    <img src="../src/images/example_21.png" width="600">
</div>

In [272]:
def f(x: float) -> float:
    return x * np.log10(x) - 1

def df(x: float) -> float:
    return (np.log(x) + 1) / np.log(10)

def phi(x: float) -> float:
    return x - 1.3 * (x * np.log10(x) - 1)

interval = (2, 3)
epsilon1 = epsilon2 = 10 ** (-7)

root = 2.5061841455887692563

functions = [
    ('Bissecção', bisection_method, (f, interval, epsilon1)),
    ('Posição Falsa', false_position_method, (f, interval, (epsilon1, epsilon2))),
    ('MPF', fixed_point_method, (f, phi, 2.5, (epsilon1, epsilon2))),
    ('Newton', newton_method, (f, df, 2.5, (epsilon1, epsilon2))),
    ('Secante', secant_method, (f, (2.3, 2.7), (epsilon1, epsilon2))),
]

create_table(functions, root)

,Bissecção,Posição Falsa,MPF,Newton,Secante
Dados Iniciais,"[2, 3]","[2, 3]",2.5,2.5,x0 = 2.3; x1 = 2.7
x_aproximado,2.506184,2.506184,2.506184,2.506184,2.506184
f(x_aproximado),1.260012e-08,-9.927992e-08,2.050827e-08,1.378231e-12,2.915257e-08
Erro em x,-1.512061e-08,1.191396e-07,-2.461068e-08,-1.653788e-12,-3.498417e-08
Número de Iterações,24,5,5,2,3
Número de Operações,120,40,9,7,21
Complexidade das Operações,O(120),O(40),O(9),O(7),O(21)
Número de Decisões Lógicas,49,16,16,7,13
Número de Avaliações,25,30,11,7,14

#### Exemplo 22

<div style="text-align: center;">
    <img src="../src/images/example_22.png" width="600">
</div>

In [273]:
def f(x: float) -> float:
    return x ** 3 - 3.5 * x ** 2 + 4 * x - 1.5

def df(x: float) -> float:
    return 3 * x ** 2 - 7 * x + 4

epsilon1 = epsilon2 = 10 ** (-7)

root = 1

x0s = (0.5, 1.33333, 1.33334)

results = {}
for i, x0 in enumerate(x0s, start=1):
    result, operations, logic_decisions, evaluations, iterations = newton_method(
        f, df, x0, (epsilon1, epsilon2),
    )
    f_result = f(result)
    error = root - result

    results[f'Teste {i}'] = {
        'x0': x0,
        'x_aproximado': result,
        'f(x_aproximado)': f'{f_result:e}',
        'Erro em x': f'{error:e}',
        'Número de Iterações': iterations,
        'Número de Operações': operations,
        'Complexidade das Operações': f'O({operations})',
        'Número de Decisões Lógicas': logic_decisions,
        'Número de Avaliações': evaluations,
    }

df = pd.DataFrame(results)
df

                                  Teste 1        Teste 2        Teste 3
x0                                    0.5        1.33333        1.33334
x_aproximado                     0.999553       0.999709            1.5
f(x_aproximado)             -9.993516e-08  -4.236363e-08   1.224126e-09
Erro em x                    4.468689e-04   2.909948e-04  -5.000000e-01
Número de Iterações                    11             35             27
Número de Operações                    43            139            107
Complexidade das Operações          O(43)         O(139)         O(107)
Número de Decisões Lógicas             34            106             82
Número de Avaliações                   34            106             82

## 2.1.2 Letra B

In [274]:
def create_table_b(result: tuple, f_x: float) -> pd.DataFrame:
    data = {
        'x_aproximado': [result[0]],
        'Número de Iterações': [result[1]],
        'f(x_aproximado)': [f'{f_x:e}'],
        'Tempo Total (ms)': [result[2]],
    }

    df_data = pd.DataFrame(data)

    df_time = pd.DataFrame({'Tempo por Iteração (ms)': result[3]})
    df_time.index = df_time.index + 1
    df_time.index.name = 'Iteração'

    return df_data, df_time

### Algoritmos

In [ ]:
def newton_method_polynomial(
    coefficients: tuple,
    n: int,
    x: float,
    epsilon1: float,
    epsilon2: float,
    itmax: int,
) -> tuple:
    deltax = x

    start_time = time.perf_counter() * 1000
    iterations_time = []
    for k in range(itmax):
        start_time_iteration = time.perf_counter() * 1000
        b = coefficients[n]
        c = b

        for i in range(n - 1, 0, -1):
            b = coefficients[i] + b * x
            c = b + c * x

        b = coefficients[0] + b * x

        if abs(b) <= epsilon1:
            end_time_iteration = end_time = time.perf_counter() * 1000
            iterations_time.append(end_time_iteration - start_time_iteration)
            return x, k + 1, end_time - start_time, iterations_time

        deltax = b / c
        x = x - deltax

        if abs(deltax) < epsilon2:
            end_time_iteration = end_time = time.perf_counter() * 1000
            iterations_time.append(end_time_iteration - start_time_iteration)
            return x, k + 1, end_time - start_time, iterations_time

        end_time_iteration = time.perf_counter() * 1000
        iterations_time.append(end_time_iteration - start_time_iteration)

    end_time = time.perf_counter() * 1000

    return f'Não convergiu com {itmax} iterações', itmax, end_time - start_time, iterations_time

### Exemplo 1

$$x^5 - 3.7x^4 + 7.4x^3 - 10.8x^2 + 10.8x - 6.8 = 0$$

In [276]:
def f(x: float) -> float:
    return x ** 5 - 3.7 * x ** 4 + 7.4 * x ** 3 - 10.8 * x ** 2 + 10.8 * x - 6.8

coefficientes = (-6.8, 10.8, -10.8, 7.4, -3.7, 1)
n = len(coefficientes) - 1

x0 = 1.5

epsilon1 = epsilon2 = 10 ** (-6)

itmax = 100

result = newton_method_polynomial(coefficientes, n, x0, epsilon1, epsilon2, itmax)
df_results, df_iterations = create_table_b(result, f(result[0]))
display(df_results, df_iterations)

   x_aproximado  Número de Iterações f(x_aproximado)  Tempo Total (ms)
0           1.7                    5    4.185538e-07            0.0103

          Tempo por Iteração (ms)
Iteração
1                         0.00307
2                         0.00199
3                         0.00097
4                         0.00063
5                         0.00071

$$x^3 - 3x + 3 = 0$$

In [277]:
coefficientes = (3, -3, 0, 1)
n = len(coefficientes) - 1

x0 = -0.8

epsilon1 = epsilon2 = 10 ** (-6)

itmax = 30

result = newton_method_polynomial(coefficientes, n, x0, epsilon1, epsilon2, itmax)
df_results, df_iterations = create_table_b(result, f(result[0]))
display(df_results, df_iterations)

   x_aproximado  Número de Iterações f(x_aproximado)  Tempo Total (ms)
0     -2.103803                   18   -2.599191e+02            0.0166

          Tempo por Iteração (ms)
Iteração
1                         0.00231
2                         0.00104
3                         0.00065
4                         0.00057
5                         0.00065
6                         0.00057
7                         0.00056
8                         0.00057
9                         0.00062
10                        0.00064
11                        0.00048
12                        0.00058
13                        0.00054
14                        0.00062
15                        0.00062
16                        0.00054
17                        0.00053
18                        0.00071

In [278]:
coefficientes = (3, -3, 0, 1)
n = len(coefficientes) - 1

x0 = -2

epsilon1 = epsilon2 = 10 ** (-6)

itmax = 10

result = newton_method_polynomial(coefficientes, n, x0, epsilon1, epsilon2, itmax)
df_results, df_iterations = create_table_b(result, f(result[0]))
display(df_results, df_iterations)

   x_aproximado  Número de Iterações f(x_aproximado)  Tempo Total (ms)
0     -2.103803                    4   -2.599191e+02           0.00696

          Tempo por Iteração (ms)
Iteração
1                         0.00265
2                         0.00142
3                         0.00076
4                         0.00049